@page "/"
@using Microsoft.AspNetCore.Authorization
<PageTitle>Home</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <FluentCard>
            <h2>Hello World!</h2>
            <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
        </FluentCard>
    </NotAuthorized>
    <Authorized>
        <FluentPersona Name="@context.User.Identity?.Name" ImageSize="30px" Slot="end" />
    </Authorized>
</AuthorizeView>
